# Selectors (CSS)
CPF_SELECTOR=input[name="cpf"], input[id*="cpf" i], input[placeholder*="CPF" i]
SENHA_SELECTOR=input[type="password"], input[name*="senha" i], input[id*="senha" i]

ENTRAR_BUTTON_SELECTOR=button, input[type="submit"], a
ENTRAR_BUTTON_TEXT=ENTRAR

RECEIVE_CODE_BUTTON_SELECTOR=button, input[type="button"], input[type="submit"], a
RECEIVE_CODE_BUTTON_TEXT=Receber código por EMAIL

OTP_INPUT_SELECTOR=input[placeholder*="Digite o código" i], input[name*="codigo" i], input[id*="codigo" i], input[type="text"]
AUTHENTICATE_BUTTON_SELECTOR=button, input[type="button"], input[type="submit"], a
AUTHENTICATE_BUTTON_TEXT=AUTENTICAR

# Boletos (filtros)
BOLETOS_PRODUTO_FIELD_TEXT=Produto
BOLETOS_STATUS_FIELD_TEXT=Status
BOLETOS_STATUS_OPTION_TEXT=Pagamento Pendente
BOLETOS_BUSCAR_BUTTON_TEXT=BUSCAR
BOLETOS_RESULTS_CURRENT_TEXT=5 Resultados
BOLETOS_RESULTS_TARGET_TEXT=50 Resultados
BOLETOS_DOWNLOAD_LINK_TEXT=BAIXAR BOLETO
BOLETOS_DOWNLOAD_SCOPE_SELECTOR=.table-responsive, table, .datatable, .ui-table, .card-body
BOLETOS_PAGINATION_SCOPE_SELECTOR=.table-responsive, .datatable, .ui-table, .card-body
