# Timeouts/intervalo
REDIRECT_TIMEOUT_SECONDS=60
POST_LOGIN_TIMEOUT_SECONDS=60
RECEIVE_CODE_TIMEOUT_SECONDS=60
POST_AUTH_TIMEOUT_SECONDS=60
DASHBOARD_TIMEOUT_SECONDS=60
BOLETOS_TIMEOUT_SECONDS=60
BOLETOS_DOWNLOAD_TIMEOUT_SECONDS=45
BOLETOS_PAGINATION_TIMEOUT_SECONDS=30
BOLETOS_PAGINATION_MAX_PAGES=200
POLL_INTERVAL_SECONDS=1.0
